.calculator {
    background-color: #1f1f1f;
    width: auto;
}

.col-3, .row {
    margin: 0;
    padding: 0;
}

.btn {
    border: 1px solid #000;
    max-height: 40px;
    min-height: 40px;
    max-width: 40px;
    min-width: 40px;
}

#calculation-screen {
    margin: 0;
    padding: 0;
    border: 1px solid #000;
}

